extends ../../publico/nav

block content	
  .container
    .title
      h1 Hall da Infosec
      h2 Pessoas e/ comunidades

    p #[a(href='/repo' style='font-size: xx-large; color: #9778c4') &#x02190;]

    left
      table(width='50%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th Cantinho de Infosec [Discord]
              th → Kali Nathalie #[a(href='https://twitter.com/K4L1_FS', target="_blank") Twitter&#x2197;]
    
    p
    left
      table(width='50%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th Menina de CyberSec [Discord]
              th → #[a(href='https://www.instagram.com/meninadecybersec/', target="_blank") Instagram&#x2197;]
    
    p
    left
      table(width='50%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th @wh0isdxk 
              th → #[a(href='https://beacons.ai/wh0isdxk/', target="_blank") Todas redes&#x2197;]

    p
    left
      table(width='50%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th Divina Vitorino 
              th → #[a(href='https://linktr.ee/divinavitorino/', target="_blank") Todas redes&#x2197;]

    p
    left
      table(width='50%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th Sec4all
              th → #[a(href='https://www.instagram.com/sec.4all/', target="_blank") Instagram&#x2197;]
    
    p
    left
      table(width='50%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th MariaLab
              th → #[a(href='https://www.instagram.com/marialab_org/', target="_blank") Instagram&#x2197;]
 
    p
    left
      table(width='50%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th Marina Ciavatta
              th → #[a(href='https://www.instagram.com/marinaciavatta/', target="_blank") Instagram&#x2197;]
  
    p
    left
      table(width='50%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th strongreen
              th → #[a(href='https://beacons.ai/strongreen', target="_blank") Todas as redes&#x2197;]

    p
    left
      table(width='50%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th hacknlearn
              th → #[a(href='https://www.instagram.com/hacknlearn/', target="_blank") Instagram&#x2197;]
  
 
 
    