extends ../../publico/nav

block content	
  .container
    .title
      h1 Hall da Infosec
      h2 Pessoas e/ comunidades

    p #[a(href='/repo' style='font-size: xx-large; color: #9778c4') &#x02190;]

    li Cantinho de Infosec [Discord] → Kali Nathalie #[a(href='https://twitter.com/K4L1_FS', target="_blank") Twitter&#x2197;]
    
    li Menina de CyberSec [Discord] → #[a(href='https://www.instagram.com/meninadecybersec/', target="_blank") Instagram&#x2197;]
    
    li @wh0isdxk → #[a(href='https://beacons.ai/wh0isdxk/', target="_blank") Todas redes&#x2197;]
    
    li Divina Vitorino → #[a(href='https://linktr.ee/divinavitorino/', target="_blank") Todas redes&#x2197;]

    li Nina Da Hora → #[a(href='https://www.ninadahora.dev/', target="_blank") Site&#x2197;]

    li Michelle Mesquita → #[a(href='https://michelleamesquita.medium.com/', target="_blank") Medium&#x2197;]

    li Sec4all → #[a(href='https://www.instagram.com/sec.4all/', target="_blank") Instagram&#x2197;]
    
    li MariaLab → #[a(href='https://www.instagram.com/marialab_org/', target="_blank") Instagram&#x2197;]
 
    li Marina Ciavatta → #[a(href='https://www.instagram.com/marinaciavatta/', target="_blank") Instagram&#x2197;]
  
    li strongreen → #[a(href='https://beacons.ai/strongreen', target="_blank") Todas as redes&#x2197;]

    li hacknlearn → #[a(href='https://www.instagram.com/hacknlearn/', target="_blank") Instagram&#x2197;]

    li Secure Code → #[a(href='https://www.instagram.com/seco_________/', target="_blank") Instagram&#x2197;]
  
 
 
    