extends ../../publico/nav

block content	
  .container
   .title 
    h1 Cronograma_ 

  h3.subtitle
    a(name='init') Por onde eu comecei?
  .container
    p  Seguindo conselhos de pessoas que já trabalham na área. 
  h3.subtitle
    a(name='encontrar') O que irei encontrar aqui?
  .container
    p Conteúdo gratuito e muita analogia. Eu estudo fazendo analogia, isso me ajuda muito. 
    
    h2 Conteúdo_

    h3 Parte I → #[a(href='/cronograma/parteUm') Bash e Redes&#x2197;]
    //- h3 → #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/bash/bash.md' target="_blank") Bash&#x2197;]
    //- h3 → #[a(href='/') Redes&#x2197;]
    .btn!= tw('Cronograma de estudo da Infosec iniciante: ')
    .btn!=linkedin('/cronograma/index')

