extends ../../public/nav

block content	
  .container
    .title
    h1 Conteúdo_
    h3 Parte I → #[a(href='/cronograma/parteUm') Bash e Redes&#x2197;]
    //- h3 → #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/bash/bash.md' target="_blank") Bash&#x2197;]
    //- h3 → #[a(href='/') Redes&#x2197;]
