extends ../../public/nav

block content	
  .container
    .title
    h2(style='color:#a047b6;') Parte I
    p Comecei meus estudos com Bash e Redes.

    center
      table(width='100%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th Contéudo &#x1F4DF;
              th Link
              th Tipo
              th Idioma

        tbody
              tr
                td Bash [video aula, livro e apostila]
                td #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/bash/bash.md' target="_blank") Bash&#x2197;]
                td Free
                td PT-BR
              tr 
              td ---
              td ---
              td ---
              td ---
              
    


    p #[a(href='/cronograma' style='font-size: xx-large; color: #353236') &#x02190;]