extends ../../publico/nav

block content	
  .container
    .title
       a(href='/whereAmI/index' style='font-size: xx-large') &larr; 
       p Desafio "MeninaDeCybeSec"

    p O servidor da Menina de CyberSec propôs 1 desafio por dia durante 30 dias sobre cybersec.

    
    p #[a(href="https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/desafios/30days-MeninaDeCybeSec/0start.md" target="_blank") Link do desafio&#x2197;]
    
    p Concluído com sucesso ^ ^ 

    img(src='/images/badge.png')
    p
    .btn!= tw("Desafio 30 dias de CyberSec concluído com sucesso!!! @meninadecybersec ")
    .btn!=linkedin('/whereAmI/desafio')