extends ../../publico/nav

block content	
  .container
    h2 Desafio "MeninaDeCybeSec"
    p O servidor da Menina de cyberSec propos 1 desafio por dia durante 30 dias sobre cybersec.

    p #[a(href='/whereAmI/index' style='font-size: xx-large; color: #9778c4') &#x02190;]
    
    p #[a(href="https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/desafios/30days-MeninaDeCybeSec/0start.md" target="_blank") Link do desafio&#x2197;]
    
