extends ../../publico/nav

block content	
  .container
    h1 Where Am I_
    h2 O que eu estou fazendo/participando (desatualizado :/ )
  
    center
      table(width='100%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th Contéudo &#x1F4DF;
              th Link
              th Status

        tbody
              tr
                td 30 days #challenge do servidor Menina de CybeSec
                td #[a(href='/whereAmI/desafio') Desafio&#x2197;]
                td Concluído
              tr 
                td Onde estou
                td #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/whereAmI.txt' target="_blank") whereAmI&#x2197;]
                td Continuo
              tr 
                td Semana Web Hacking
                td #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/tree/main/desafios/shw' target="_blank") SWH&#x2197;]
                td Concluído
              tr 
                td Desafios "OverTheWire" - Bandit
                td #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/tree/main/desafios/linux/overthewire' target="_blank") Bandit&#x2197;]
                td Em andamento
              tr 
                td Security for developers - Synk
                td #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/cursos/Security-for-developers/00-init.md'target="_blank") Bandit&#x2197;]
                td Em andamento
              tr 
                td Hackers do Bem
                td #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/cursos/hackersDoBem/init.md'target="_blank") Bandit&#x2197;]
                td Em andamento