extends ../../publico/nav

block content	
  .container
    .title
      h1 Artigos_
      h2 Palestras e afins
    p #[a(href='/repo' style='font-size: xx-large; color: #9778c4') &#x02190;]

  h3.subtitle
      a(name='pentest') Pentest
  .container
      p  →  #[a(href='https://community.revelo.com/carreira-de-pentester-na-pratica-parte-1/' style='color: #9778c4' target="_blank") Carreira de Pentester na prática - parte 1&#x2197;] por  #[a(href='' style='color: #9778c4' target="_blank") Kali Nathalie]
      p  →  #[a(href='https://community.revelo.com/carreira-de-pentester-na-pratica-parte-2/' style='color: #9778c4' target="_blank") Carreira de Pentester na prática - parte 2&#x2197;] por  #[a(href='' style='color: #9778c4' target="_blank") Kali Nathalie]
