extends ../../publico/nav

block content	
  .container
    .title
       a(href='/repo/index' style='font-size: xx-large') &larr; 
       p Artigos, palestras e afins

  h3.subtitle
      a(name='pentest') Pentest
  .container
      p  →  #[a(href='https://community.revelo.com/carreira-de-pentester-na-pratica-parte-1/' style='color: #9778c4' target="_blank") Carreira de Pentester na prática - parte 1&#x2197;] por  #[a(href='' style='color: #9778c4' target="_blank") Kali Nathalie]
      p  →  #[a(href='https://community.revelo.com/carreira-de-pentester-na-pratica-parte-2/' style='color: #9778c4' target="_blank") Carreira de Pentester na prática - parte 2&#x2197;] por  #[a(href='' style='color: #9778c4' target="_blank") Kali Nathalie]
  
  .subtitle!= tw('Veja a lista de artigos da Infosec Iniciante listou: ')