extends ../../publico/nav

block content	
  .container
    .title
      a(href='/repo/index' style='font-size: xx-large') &larr; 
      p Técnicas e ferramentas: ESTENOGRAFIA_


  h3.subtitle
      a(name='osint') Estenografia
  .container
     p O termo esteganografia deriva do grego, em que estegano significa “esconder ou mascarar”, e grafia, “escrita” [PETRI 2004]. Assim, esse termo pode ser definido como a arte de esconder informações, tornando-as ocultas. Muitas técnicas esteganográficas, por exemplo, escondem dados dentro de arquivos. Seu principal objetivo é que esses dados não sejam percebidos por terceiros; ou seja, a presença de mensagens escondidas dentro de arquivos é simplesmente desconhecida [ARTZ 2001]. Somente o receptor da mensagem tem conhecimento de sua existência, assim como da maneira como extraí-la. - #[a(href='https://www.gta.ufrj.br/grad/09_1/versao-final/stegano/introducao.html', target="_blank") UFRJ&#x2197;]
  
     
  h4.subtitle Ferramentas:
  .container
    ul
      li  #[a(href='/repo/binwalk') Binwalk&#x2197;]
  
  .subtitle!=tw('Veja mais sobre técnicas e ferramentas de esteganografia :')