extends ../../publico/nav

block content	
  .container
    .title
      h2 Ferramentas_
    p #[a(href='/repo/index' style='font-size: xx-large; color: #9778c4') &#x02190;]
  h3.subtitle
      a(name='osint') OSINT_
  .container
     p OSINT, refere-se a todas as informações que podem ser encontradas publicamente(informações no facebook, instagram e outras contas publicamente disponíveis), via internet, sem violar quaisquer leis de direitos autorais ou privacidade.
     
  h4.subtitle Ferramentas:
  .container
    ul
      li  #[a(href='/repo/osintgram') Osintgram&#x2197;]
    
  //-   hr
  //- h3.subtitle
  //-     a(name='osint') Teste_
  //- .container
  //-    p fbjdbjf