extends ../../public/nav

block content	
  .container
    .title
      h2 O que temos aqui?
     
  h3.subtitle
      a(name='repo') Repositórios
  .container
      p  → Aqui temos o repositório com: 🚩 Lista de CTF, Material de estudo, Ferramentas e Hackletter sobre criptografia|cybersecurity. #[a(href='https://github.com/rayanepimentel/maratonaHacker' target="_blank") MaratonaHack&#x2197;]

  h3.subtitle
      a(name='hall') Hall da Infosec
  .container
      p  → Temos lista de pessoas e/comunidades #[a(href='/hall' ttarget="_blank") Hall&#x2197;]