extends ../../publico/nav

block content	
  .container
    .title
      h1 Repositórios e mais_
     
  h3.subtitle
      a(name='repo') Repositórios
  .container
      p  → Aqui temos o repositório com 🚩 Lista de CTF, Material de estudo, Ferramentas e Hackletter sobre criptografia|cybersecurity: #[a(href='https://github.com/rayanepimentel/maratonaHacker' target="_blank") MaratonaHack&#x2197;]
      p  → Repositório desse site: #[a(href='https://github.com/rayanepimentel/site-infosec' target="_blank") Site-Infosec&#x2197;]

  h3.subtitle
      a(name='hall') Hall da Infosec
  .container
      p  → Temos lista de pessoas e/comunidades que eu acompanho/participo: #[a(href='/hall') Hall&#x2197;]

  h3.subtitle
      a(name='artigo') Artigos
  .container
      p  → Lista de artigos, palestras... #[a(href='/repo/artigo') Artigos&#x2197;]

  h3.subtitle
      a(name='tecnicas') Técnicas
  .container
      p  → Lista de técnicas e ferramentas: 
      ul
        li #[a(href='/repo/osint') Osint&#x2197;]
        li #[a(href='/repo/estenografia') Estenografia&#x2197;]