extends ../../publico/nav

block content	
  .container
    .title
      a(href='/repo/index' style='font-size: xx-large') &larr; 
      p Técnicas e ferramentas: OSINT_


  h3.subtitle
      a(name='osint') OSINT_
  .container
     p OSINT, refere-se a todas as informações que podem ser encontradas publicamente(informações no facebook, instagram e outras contas publicamente disponíveis), via internet, sem violar quaisquer leis de direitos autorais ou privacidade.
     
  h4.subtitle Ferramentas:
  .container
    ul
      li  #[a(href='/repo/osintgram') Osintgram&#x2197;]
    
    .btn!= tw('Veja mais sobre técnicas e ferramentas de OSINT: ')
    .btn!=linkedin('/repo/osint')