extends ../publico/nav

block content	
  .container
    .title
      h1 Infosec
      h2 Iniciante
    p Minha trajetória documentada sobre #[a(href='/') InfoSec]
    p Esse material é totalmente iniciante. 
    p Se você encontrar alguma informação errada ou fora de contexto, por favor abra uma #[a(href="https://github.com/rayanepimentel/InfoSec-iniciante" target="_blank") issue&#x2197;].
    p Obrigada &#x1F49C; 
  
    footer.footer
      p.text-muted Feito por #[a(href='/') Rayane Pimentel] | #[a(href="https://www.linkedin.com/in/rayanepimentel/" target="_blank") LinkedIn&#x2197;] | #[a(href="https://github.com/rayanepimentel/" target="_blank") Github&#x2197;]

