extends ../publico/nav

block content	
  .container
    h2 O que eu estou fazendo/participando
  
    center
      table(width='100%', cellspacing='10px', cellpadding='10px', border='2px', bgcolor='#F2F2F2')
        thead
            tr
              th Contéudo &#x1F4DF;
              th Link
              th Status

        tbody
              tr
                td 30 days #challenge do servidor Menina de CybeSec
                td #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/desafios/30days-MeninaDeCybeSec/0start.md' target="_blank") Desafio&#x2197;]
                td Em andamento
              tr 
                td Onde estou
                td #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/blob/main/whereAmI.txt' target="_blank") whereAmI&#x2197;]
                td Continuo
              tr 
                td Semana Web Hacking
                td #[a(href='https://github.com/rayanepimentel/InfoSec-iniciante/tree/main/desafios/shw' target="_blank") SWH&#x2197;]
                td Concluído