

doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono")
    link(rel="stylesheet" href="/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")



  body
    header
      .nav-container
        nav
          .logo
          a(href="/" style='font-size: xx-large;') &#x1F47E;
          .nav-bar
            a(href="/") Início_
            a(href="/cronograma/index") Cronograma_
            a(href="/whereAmI/index") WhereAmI_
            a(href="/repo/index") Técnicas e mais_

    block content

